@font-face {
    font-family: 'Isle Body PERSONAL USE';
    src: url('IsleBodyPERSONALUSE-Black.woff2') format('woff2'),
        url('IsleBodyPERSONALUSE-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Isle Body PERSONAL USE';
    src: url('IsleBodyPERSONALUSE-Bold.woff2') format('woff2'),
        url('IsleBodyPERSONALUSE-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Isle Body PERSONAL USE';
    src: url('IsleBodyPERSONALUSE-BoldItalic.woff2') format('woff2'),
        url('IsleBodyPERSONALUSE-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Isle Body PERSONAL USE';
    src: url('IsleBodyPERSONALUSE-BlackItalic.woff2') format('woff2'),
        url('IsleBodyPERSONALUSE-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Isle Body PERSONAL USE';
    src: url('IsleBodyPERSONALUSE-Light.woff2') format('woff2'),
        url('IsleBodyPERSONALUSE-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Isle Body PERSONAL USE';
    src: url('IsleBodyPERSONALUSE-LightItalic.woff2') format('woff2'),
        url('IsleBodyPERSONALUSE-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Isle Body PERSONAL USE';
    src: url('IsleBodyPERSONALUSE-Medium.woff2') format('woff2'),
        url('IsleBodyPERSONALUSE-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Isle Body PERSONAL USE';
    src: url('IsleBodyPERSONALUSE-MediumItali.woff2') format('woff2'),
        url('IsleBodyPERSONALUSE-MediumItali.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

