:root{
    --color1:#FFD700;
    --color2:#FCF5B7;
    --color3:#FAD953 ;
    --color4:#E49C2B ;
    --color5:#81530C ;
    --color6:#863E06 ;

    --color7:rgb(0, 0, 0, 0.2) ;

    --color8:#ffc400;
    --color9:#000;
    --color10:#f1f1f1;

    --color11:#0A4704;
    --color12:rgb(153, 214, 255);
    --b2:rgb(0, 153, 255);
    --b1: #ffc400;
    --b3:rgb(200, 233, 255);


}

img{
    max-width: 100%;
    max-height: 100%;
}

.wrapper{
    height:100%;
    width:100%;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgb(255, 242, 184) 0%, rgb(255, 251, 0) 35%,  rgb(255, 242, 184) 100%);
background:url(../images/soft.jpg) fixed;

        box-shadow: 5px 10px;
}




body{

margin-top:0px;
}


::-moz-selection { /* Code for Firefox */
    color: var(--color2);
    background: var(--color3);
}
  
::selection {
    color: var(--color2);
    background: var(--color3);
  }

svg { max-width: 100%; }

#slider{
    display: flex;
    flex-flow:column nowrap;
    height:250px;
    justify-content: space-between;
    padding:20px;

}

#slider h1{
    text-align: left;
    color:var(--color9);

    margin-bottom:10px;
    text-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}

#slider h2{
    text-align: right;

    color:var(--color9);
    text-shadow: 0 0 5px rgb(0, 0, 0, 0.5);


}


.bigTitle{
    font-family: 'Isle Body PERSONAL USE';
    font-weight: 600;
    color:var(--color1);
    font-size:2rem;
    word-spacing:10px;
    text-align: left;
    margin-left:50px;
    width:auto;
    padding:25px;
    z-index: 5;

}


.header{
    justify-content: center;
    align-items: center;
    background:var(--color2);
    position:sticky;
    top:0px;
    z-index:4;
    margin:0 auto;
    width:100%;
    text-align: center;    
    padding:10px;

}

.header a{
    font-family: 'Isle Body PERSONAL USE';
    font-weight: 600;
    text-decoration: none;
    color:var(--color9);
    font-size:1.75rem;
    word-spacing: 20px;
    letter-spacing: 5px;
    text-align: center;
    cursor:pointer;
    transition:.3s;
    padding:10px;
}

.header a:hover{
cursor:pointer;
color:var(--color11);
transition:.3s;
}

.menu{
    display:flex;
    z-index: 3;
    margin:0 auto;
}

.goldShimmer{
    background: -webkit-linear-gradient(top, var(--color8),var(--color2), var(--color3));
	background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
    border-top:var(--color4) solid 1px;
    border-left:var(--color4) solid 1px;
    
    border-bottom:var(--color3) solid 1px;
    border-right:var(--color3) solid 1px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.menu ul{
    list-style: none;
    display:flex;
    flex-flow:row nowrap;
    padding:25px;

}

.menu ul li{
    position:relative;
    margin-right:25px;
}

.menu ul li:last-child{
    margin-right:0px;
}

.menu ul li a{
    font-family: 'Isle Body PERSONAL USE';
    text-decoration: none;
    color:var(--color9);
    font-size:1rem;
    letter-spacing: 5px;
    padding:10px;
    padding-right:6px;
    text-align: center;   
    
    text-transform: uppercase;

}

.menu ul li a:hover{
    color:var(--color1);
    background:var(--color10);
    border-radius:5px;
    box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.1);
}

/* sub menu */

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
    border-radius: 5px;
    margin-top:10px;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: auto;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
    margin-top:0px;
    background: var(--color8);
    padding:20px;
    border-radius: 25px;
    margin-right:20px;

  }

.hero{
    background: var(--color11);

    background: linear-gradient(180deg, #0a4704 0%, #b0ffb9 100%);


    font-family: 'Isle Body PERSONAL USE';

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    border-bottom:1px solid var(--color10);
    border-top:2px solid rgb(29, 104, 0);
    
    padding:10px;
    margin:0;
    position: relative;

    border:5px solid var(--color1);
}

.package svg{
    position:absolute;
    bottom:0px;
    right:20px;
    opacity:50%;
}

.hero h1{
    font-family: 'Isle Body PERSONAL USE';
    font-size:3rem;
    text-align:center;
    margin:0;
    padding:0;
    color:var(--color2);
    
}

.hero h2{
    font-size: 1.8rem;
    font-family: 'Inconsolata', monospace;
    text-align:center;
    margin:0;
    padding:0;
    color:var(--color2);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main{
    padding-left:10px;
    padding-right:10px;
}


#infoSheet{
    position:relative;
    height:100vh;
    margin:0 auto;
    background:var(--color1);
}


#infoSheet object{
    width:100%;
    height:100%;
    z-index:0;
}

#infoSheet button{
    padding:10px;
    position: absolute;
    top:50px;
    left:10px;
    opacity:50%;
    width:auto;
    transition: .5s;
}

#infoSheet button:hover{
    padding:10px;
    position: absolute;
    top:50px;
    left:10px;
    opacity:100%;
    width:auto;
    transition: .5s;
}



.packages{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
}

.package{
    flex:1 0 33%;


    padding:0px;
    border-radius:0px 25px 0px 0px;
    box-shadow:2px 2px 5px rgb(0, 0, 0, 0.5);

    margin-left:10px;
    margin-right:10px;
    margin-top:20px;

    display:flex;
    flex-flow:column nowrap;
    justify-content: space-between;

    position: relative;
    overflow: hidden;

    background-color: var(--color2);
background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%239C92AC' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: repeat;
}


.package button{
    padding:10px;
    width:100%;
    border:none;
    background:var(--color1);
    background: linear-gradient(0deg, var(--color-)  25%, rgba(255,255,255,0) 150%);
    text-align:left;
    padding-left:30px;

    z-index: 2;

}

.package button a{
            font-size:1.2rem;
            font-weight: 400;
    color:var(--color9);
    word-spacing: 10px;
    text-decoration: none;
    text-transform:capitalize;
    font-family: 'Isle Body PERSONAL USE';
    

}

.package button a:hover{
    color:var(--color4);
}

.package button:active{
    position:relative;
    top:2px;
}

.package h1{
    
    font-size:1.5rem;
    color:var(--color9);
    padding:5px;
    padding-bottom:2px;
    text-transform:uppercase;
    font-family: 'Isle Body PERSONAL USE';

    text-align: left;
    word-spacing: 10px;
    border-radius:0px 0px 0px 25px;
    margin-top:0px;
    padding-left:30px;
    padding-top:15px;
    padding-bottom:15px;   
    z-index: 2;
}

.package h2{
    color:var(--color9);
    padding-left:30px;
    text-align: left;
    font-family: 'Isle Body PERSONAL USE';
    font-weight:300;
    padding-top:20px;
    font-size:1.5rem;
    z-index: 2;


}

.package p{
    text-align: justify;
    text-justify: inter-word;

    color:var(--color9);
    font-family: 'Lato', monospace;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;

    padding-right:30px;
    padding-left:30px;
    padding-top:10px;
    margin-bottom:20px;
    font-size:1rem;

    line-height:20px;
    z-index: 2;

}



/* shop page */

.shopItem{
    
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    border-radius: 0px;

}

.shopItemImage img{
    width:100%;
    padding:20px;
    border-radius: 100%;
}

.shopDescript{
    padding:20px;
}

.shopDescript h2{
    color:var(--color9);
    font-weight:400;
}



.products{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}

.iconContainer img{
    height:100%;
    width:100%;    
}

.iconContainer{
    flex:1 1 33.33%;
    max-width:33.33%;
    position:relative;
    box-sizing:border-box;
}

.overlay{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:var(--color3);
    border-radius:25% 25% 100% 100%;
    opacity:85%;
}

.overlay p{
    font-size:1.25rem;
    color:var(--color2);
    text-align:center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding:20px;

}

.overlay p span{
    font-size:.85rem;
}

.clicky:active{
    position:relative;
    top:2px;
}













.footer{
    background:var(--color3);
    width:100%;


    overflow: hidden;
    border:1px solid var(--color2);

    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    
}



.footerMenu{
        padding:10px;
        overflow: hidden;
    
        overflow-y: hidden;

        z-index: 3;


}

.footerMenu ul{
    display:flex;
    flex-flow:row nowrap;
    list-style: none;
    justify-content: space-evenly;
    margin:0px;
    align-items: center;
    padding:25px;
}

.footerMenu ul li{
    text-align: center;
    align-items: center;
}

.footerMenu ul li a{
    color:var(--color9);
    text-decoration: none;
    font-family: 'Isle Body PERSONAL USE';
            padding:10px;
}

.footerMenu ul li a:hover{
    color:var(--color6);
    background:var(--color10);
    border-radius:5px;    
    cursor:pointer;
}


.social{
    overflow-y: hidden;
    z-index: 3;
    overflow: hidden;
}

.social ul{
    display:flex;
    flex-flow:row nowrap;
    list-style: none;
    justify-content: space-evenly;
    margin:0px;
    align-items: center;
    padding:25px;
}

.social ul li a{
    color:var(--color9);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    }

.social ul li a svg{
    max-height:40px;
    max-width:40px;
    fill:var(--color9);
    padding:10px;
    border-radius:5px;


}

.social ul li a svg:hover{
    fill:var(--color6);
    background:var(--color10);
 }

.menuButton{
    display:none;
    z-index:4;
}

.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.hero { grid-area: hero; }
.footerMenu { grid-area: footer; }
.social {grid-area: social; }
#gutter{grid-area:gutter;}


#grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'hero hero hero hero hero hero'
    'main main main main main main'
    'footer footer footer social social social'
    'gutter gutter gutter gutter gutter gutter'
    ;
  grid-gap: 10px;
  max-width:1200px;
  margin: 0 auto;

  padding-left:10px;
  padding-right:10px;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
  background:url(../images/wood.jpg) ;

  border-left:5px solid var(--color5);
  border-right:5px solid var(--color6);

  position:relative;
}

.wrapperFog{
    background:var(--color6);
    opacity: 55%;
    filter:blur(5px);
    height: 100%;
    width:100%;
    position: absolute;
    border-radius: 0px;


}

.frostContainer:before {
    content: "";
    position: absolute;
    z-index: -1;
    background:inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.438);
    filter: blur(2px);
    margin: -20px;
  }

.frostContainer {
    width: 100%;
    height: inherit;
    box-shadow: 0 0 25px rgba(0, 0, 0, .5); 
    position: relative;
    z-index: 1;
    background:url(../images/longBeer.jpg);
    overflow: hidden;
    border:1px solid var(--color2);

    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

  }

#gutter{
    height:0px;
    width:100%;
    background-color:var(--b1);
    transition:1s;

    background:url(../images/longBeer.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* contact css */ 

.formContainer{
    padding:20px;
    font-family: 'Isle Body PERSONAL USE';
    display:flex;
    margin:0 auto;

    z-index: auto;
}
  
  label{
    color:var(--color9);
    border-radius: 5px;
  
    margin-left:15px;
    font-family: 'Isle Body PERSONAL USE';
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color2);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: vertical;
    font-family: 'Isle Body PERSONAL USE';
    word-spacing: 6px;
    color:var(--color6);
    margin-top:12px;
  
  }
  
  select{
    color:var(--color6);
  
  }
  
  select option{
    background:var(--color6);
    color:var(--color2);
  }
  
  select option:nth-child(even){
    background:var(--color2);
    color:var(--color6);
  }
  
  input[type=submit] {
    background-color: var(--color3);
    color: var(--color9);
    padding: 12px 20px;
    border: none;
    border-radius:25px 25px 25px 25px;
    cursor: pointer;
    width:100%;
    font-family: 'Isle Body PERSONAL USE';
  
    background: -webkit-linear-gradient(top, var(--color8),var(--color2), var(--color3));
      background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
      border-top:var(--color4) solid 1px;
      border-left:var(--color4) solid 1px;
      
      border-bottom:var(--color3) solid 1px;
      border-right:var(--color3) solid 1px;
  
      z-index: 2;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.219);
      
  }
  
  input[type=submit]:hover {
    color:var(--color6);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
  
    }
  
  .contactOptions{
    display:flex;
    flex-flow:row nowrap;
    border-radius: inherit;
    position: relative;
  }
  
  .contactOption{
    justify-content: space-between;
    flex:1;
    margin:10px;
    padding:10px;
  
    border-radius: inherit;
  }

  .contactOption h2{
      font-size:1rem;
      font-family: 'Isle Body PERSONAL USE';
    }

    
  .contactOption p{
    font-size:.8rem;
    font-family: 'lato';
    margin-bottom:10px;
    margin-top:20px;
    text-align:center;
  }

  .ageCheck{
      height:100vh;
      position: relative;
  }

  #swapInfo{
      position: relative;
  }

@media only screen and (max-width: 650px) {
    #grid-container {
        display: grid;
        grid-template-areas:
          'header header header header header header'
          'menu menu menu menu menu menu'
          'hero hero hero hero hero hero'
          'main main main main main main'
          'footer footer footer footer footer footer'
          'social social social social social social'
          'gutter gutter gutter gutter gutter gutter'
          ;
          grid-gap: 0px;
          margin:0px;
          padding:0px;
          border:none;

    }
      body{
          margin:0px;
      }

      .iconContainer{
        flex:1 0 45%;
        padding:10px;
        box-sizing: border-box;
        margin:0 auto;
        text-align: center;
        max-width:45%;
    }

    .hero{

        border-radius:0px;
        padding-top:20px;
        padding-bottom:60px;
        padding-left:0px;
        padding-right:0px;

    }

    .header{
        margin-bottom:0px;
        padding-bottom:10px;
    }

    .header a{
        font-size:1rem;
    }


.packages{
    margin:0px;
}


.package{
flex:1 0 100%;
margin:0px;
padding:0px;
max-width:100%;
border-radius: 10px;
margin-top:10px;
}

.bigTitle{
    border-radius: 10px;
}

.package p{

    padding-left:30px;
    padding-right:30px;


}

.package:first-child{
    margin-top:0px;
}


.menu{
    position:fixed;
    top:-100%;
    left:0;
    margin:0px;
    width:100%;
    transition:.5s;
    z-index:7;
    background:var(--color5);

    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, var(--color11) 20%);
    border-radius: 0px 0px 25px 25px;

    border:none;
    box-shadow: none;

    display:block;

}

.menuDown{
    top:0%;
}


.menuBottom{
    height:130px;
    width:100%;
    display:none;
    position:fixed;
    bottom:-130px;
    left:0;
    padding:0;
    margin:0;
    transition:.5s;
    z-index:2;
    
    background-color:var(--b2);

}

.active{
    bottom:0px;
}



.menu nav ul{
    display:flex;
    flex-flow:column-reverse;
}

.menu nav ul li{
    margin:0px;
    width:100%;
    margin-top:5vh;
    margin-right:20px;
    padding-right:10px;
    border-right:2px var(--color2) solid;
    text-align:right;
    overflow-y:hidden;

}

.menu nav ul li:first-child{
    margin-bottom:25vh;
}

.menu nav ul li:last-child{
    margin-top:15vh;
}


.menu nav ul li a{
    color:var(--color2);
    font-size:1rem;
    text-transform: uppercase;
}

.menu nav ul li a:hover{
    color:var(--color4);
    background:none;
    box-shadow: none;
}


.menuButton{
    position:fixed;
    bottom:20px;
    right:20px;
    background-color:var(--color11);
    display:block;
    align-items: center;
    width: 80px;
    height:80px;
    border-radius:100%;
    padding:20px;
    overflow:hidden;
    border:3px solid var(--color10);
}


.menuButton svg{
fill:var(--color10);
height:auto;
width:auto;
overflow:hidden;
}

.social{
    background-color:var(--color2);
}

.social ul li a svg{
    max-height:40px;
    max-width:40px;
    fill:var(--color9);
    padding:10px;
    border-radius:5px;
}

#gutter{
    height:130px;
    width:100%;
}

.shopItem{
    flex-flow:column nowrap;
}

.shopItemImage img{
    padding:40px;
    padding-bottom:0px;
}

.shopDescript{
    padding:40px;
}

.contactOptions{
    flex-flow:column nowrap;

}


  }
